      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
      *{

         margin: 0;
         padding: 0;
         border: 0;
      }
      body {
        background-color: #070707;
       }
       header  {
           padding: 32px;
           border-bottom: 1px solid  #f6eded;
           background-color:  rgb(211, 196, 196);
       }
       header div {
           text-align: center;
       }
       header div a {
        color : white;
        font-size : 20px;
        line-height: 30px;
        margin: 0 16px;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
         
       }
       header div a:hover {
        color: rgb(113, 15, 15);
        transition: color 700ms;
        font-size: 22px;
    }

    #box {

        text-align: center;
        padding: 32px;
    }
    #box img {
        border-radius: 50%;
        border: 5px solid #661111;
        margin-bottom: 32px;
        height: 350px;
        width: 350px;
    }
    
    #box h1 {
        font-size: 38px;
        line-height: 52px;
        font-weight: bold;
        color: snow;
    }
    #box h2 {
        font-size: 24px;
        line-height: 34px;
        font-weight: normal;
        margin-top: 8px;
        opacity: 0.8;
        color: snow;
    }
    #box p {
        max-width: 500px;
        margin: 10px auto;
        font-size: 20px;
        line-height: 34px;
        color: snow;
    }
    :root{
        --subcor: #740c0c;

    }
    header{
        padding: 32px;
        border-bottom: 3px solid #064081;
        background-color: rgba(0, 0,0,0.1);
    }

header {

    padding: 32px;
    border-bottom: 3px solid var(--subcor);
    background-color: rgba(0, 0,0,0.1);
}